* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 20px; }

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5em;
  color: #6AB7FF;
  margin: 0;
  transition: all .5s linear; }
  h1:hover {
    color: #414285; }

#contact-info {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  #contact-info li {
    font-size: .8em;
    display: inline;
    margin-right: 6px; }

#footer-info {
  display: flex; }
  #footer-info div {
    display: flex;
    margin-right: 13px;
    align-items: center; }
    #footer-info div img {
      margin-right: 2px; }

.description {
  width: 40%;
  max-width: 500px; }

button {
  border: 1px solid #6AB7FF;
  background-color: white;
  transition: background 0.5s linear; }
  button:hover {
    background-color: #6AB7FF;
    border: 1px solid #6AB7FF; }
    button:hover a {
      color: white; }

a {
  color: #6AB7FF;
  font-weight: bold;
  text-decoration: none;
  transition: all .5s linear; }
  a:hover {
    color: #414285; }

@media screen and (min-width: 0) and (max-width: 600px) {
  .description {
    width: 100%; } }
